<body class="royal_preloader scrollreveal">

	<div id="royal_preloader"></div>
	
	<!-- Begin Boxed or Fullwidth Layout -->
	<div id="bg-boxed">
	    <div class="boxed">

			<!-- Begin Header -->
			<header>

				<!-- Begin Top Bar -->
				<div class="top-bar">
					<div class="container container-header">
						<div class="row top-bar-row">
							<!-- Address and Phone -->
							<div class="col-sm-7 hidden-xs contact-info">
								<span class="ion-android-system-home home-icon"></span>Россия, Украина, Беларусь
							</div>
							<!-- Social Buttons -->
							<div class="col-sm-5 text-right topmenu-holder">
				                <ul class="topbar-list list-inline">
				                	
				                	<% if current_user %>
				                		<li><%= link_to "Профайл", user_path(current_user) %></li>
										<li><%= link_to "Выход", destroy_user_session_path, :method => :delete %></li>
									<% else %>
						                <li><a data-toggle="modal" data-target="#login">Логин</a></li>
						                <li><a href="/users/sign_up">Регистрация</a></li>
					                <% end %>
					                <li>						
							            <a class="btn btn-social-icon btn-rw btn-primary btn-xs">
											<i class="fa fa-twitter"></i>
										</a>
										<a class="btn btn-social-icon btn-rw btn-primary btn-xs">
											<i class="fa fa-instagram"></i>
										</a>
										<a class="btn btn-social-icon btn-rw btn-primary btn-xs">
											<i class="fa fa-facebook"></i>
										</a>
									</li>
								</ul>
							</div>
						</div><!--/row --> 
					</div><!--/container header -->   
				</div><!--/top bar -->   
				<!-- End Top Bar -->


				<!-- Login -->
				<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="loginLabel" aria-hidden="true">
				    <div class="modal-dialog modal-sm">
				        <div class="modal-content">
				            <div class="modal-header">
				                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Закрыть</span></button>
				                <h4 class="modal-title" id="loginLabel">Логин</h4>
				            </div>
				            <div class="modal-body">
					            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
						            <div class="form-group">
						                <label for="exampleInputEmail1">Ваш email</label>
						                <%= f.email_field :email, autofocus: true, :class => "form-control", :id => "exampleInputEmail1", :placeholder => "Введите email" %>
						            </div>
						            <div class="form-group">
						                <label for="exampleInputPassword1">Пароль</label>
						                <%= f.password_field :password, autocomplete: "off", :class => "form-control", :id => "exampleInputPassword1", :placeholder => "Введите пароль" %>
						            </div>
					        
				            </div>
				            <div class="modal-footer">
				                <div><%= f.submit "Войти", :class => "btn btn-rw btn-primary" %></div>
				            </div>
				            <% end %>
				        </div><!-- /modal content -->
				    </div><!-- /modal dialog -->
				</div><!-- /modal holder -->
				<!-- End Login -->

		     	<!-- Begin Navigation -->
				<div class="navbar">
					<div class="container container-header">
						<div class="navbar-header">
							<!-- Brand -->
							<a href="/" class="navbar-brand">
								<div class="css-logo"></div> ИНТЕРЛАВКА
							</a>
							<!-- Mobile Navigation -->
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
					            <span class="sr-only">Toggle navigation</span>
					            <span class="icon-bar"></span>
					            <span class="icon-bar"></span>
					            <span class="icon-bar"></span>
							</button>
						</div><!-- /navbar header -->   

						<!-- Main Navigation -->
						<nav class="navbar-collapse collapse navHeaderCollapse" role="navigation">
							<ul class="nav navbar-nav navbar-right">
								<li><a href="/index.html">Главная</a></li>
								<li><a href="/contacts.html">Контакты</a></li>
								<li class="dropdown" data-animate="animated fadeInUp">
			                    	<a href="#" class="dropdown-toggle dropdown-form-toggle" data-toggle="dropdown"><i class="fa fa-search"></i></a>
			                        <ul class="dropdown-menu dropdown-menu-user">
			                            <li id="dropdownForm">
			                            	<div class="dropdown-form">
			                                	<form class="form-default form-inline p15">
			                                        <div class="input-group">
			                                            <input type="text" class="form-control search-input" placeholder="Search...">
			                                            <span class="input-group-btn">
			                                                <button class="btn btn-rw btn-primary search-btn" type="button">Искать!</button>
			                                            </span>
			                                        </div><!-- /input group -->  
			                                    </form><!-- /searh form -->  
			                                </div><!-- /dropdown form -->  
			                            </li><!-- /dropdownForm list item -->  
			                        </ul><!-- /search dropdown -->
			                	</li><!-- /search navbar list item -->  
							</ul><!-- /navbar right -->  
						</nav><!-- /nav -->   

					</div><!-- /container header -->   
				</div><!-- /navbar -->   
				<!-- End Navigation -->
				
				<!-- Begin Page Header -->
				<div class="header">
					<div class="container">
						<div class="row">
							<!-- Page Title -->
							<div class="col-sm-4 col-xs-12">
								<h1>Портал радиоэлектроники</h1>
							</div>

							<!-- Breadcrumbs -->
							<div class="col-sm-8">
								<ol class="breadcrumb">
									<%= render_breadcrumbs :tag => :li, :separator => " " %>
								</ol>
							</div><!-- /column -->
						</div><!-- /row -->  
					</div><!-- /container -->  
				</div><!-- /page header -->  

			</header><!-- /header -->
			<!-- End Header -->