<!-- Begin Content Section -->
<section class="mt40 mb40">
	<div class="container">
	    <div class="row">

	   		<!-- Blog Posts -->
	    	<div class="col-sm-8">

                        <!-- Реклама над текстом -->
                        <%= render "/static_pages/adv_over_text" %>

	    		<% @articles.each do |article| %>
					<div class="blog-post mb40">
                        <%= image_tag article.image.url, :class => "img-responsive full-width" if article.image? %> 
                        <div class="blog-post-holder">
                            <ul class="list-inline posted-info">
                                <li><strong>Автор:</strong> <%= link_to article.user.name, article.user if article.user.present? %></li>
                                <li><strong>Категория:</strong> <%= article.category.name if article.category %></li>
                                <li><strong>Создано:</strong> <%= Russian::strftime(article.created_at, "%d %B %Y") %></li>
                                <% if current_user == article.user || current_user && current_user.role == "admin" %>
                          			<li><%= link_to "Редактировать статью", edit_article_path(article) %></li>
                        		<% end %>
                            </ul>
                            <hr align="left" class="mt15 mb10" style="width:50px;">
                            <h1><%= link_to article.name, article %></h1>
                            <p>
                            	<%= truncate( raw( sanitize(article.text, :tags => %w(table tr td strong), :attributes => %w(id class style) ) ), :length => 200, :omission => "...") %></p>
                            <%= link_to "Читать полностью ::.", article, :class => "btn btn-rw btn-primary mt10" %>
                        </div>                
                    </div>
                <% end %>

				<nav class="text-center">
					<%= paginate @articles %>
				</nav>

            <!-- Реклама под текстом -->
            <%= render "/static_pages/adv_under_text" %>
	        
            </div>

	        <%= render "column" %>
	    </div>
    </div>
</section><!-- /content -->
<!-- End Content Section -->

