                <% if @article.comments.exists? %>
                <div class="blog-comment mt30">
                  <div class="heading mb30"><h4>Комментарии</h4></div>
                  <ul class="comments">
                    <% @article.comments.order('created_at DESC').each do |comment| %>
                    <li class="clearfix">
                      <%= image_tag(comment.user.avatar.thumb.url, :class => "avatar", :width => "80", :height => "80", :alt => comment.user.name) if comment.user.present? %>
                      <div class="post-comments">
                          <p class="meta"><%= link_to comment.user.name, comment.user if comment.user.present? %> <%= Russian::strftime(comment.created_at, "%d %B %Y") %> </p>
                          <p>
                              <%= truncate( raw( sanitize(comment.text, :tags => %w(table tr td p strong), :attributes => %w(id class style) ) ), :length => 320, :omission => "...") %>
                          </p>
                      </div>
                    </li>
                    <% end %>
                  </ul>
                </div>
                <% end %>
                <% if current_user %>
                      <script>
                        function countChar(val) {
                          var len = val.value.length;
                          if (len >= 320) {
                            val.value = val.value.substring(0, 320);
                          } else {
                            $('#charNum').text(320 - len);
                          }
                        };
                      </script>
                      <br>
                  <div class="panel panel-default no-margin">
                    <div class="panel-body">                
                      <%= form_for @comment, :url => {:controller => "articles", :action => "comment_create" } do |f| %>
                          <%= f.text_area :text, :class => "form-control counted", :placeholder => "Напишите свой комментарий", :rows => "5", :style => "margin-bottom:10px;", :required => true, :onkeyup => "countChar(this)", :id => "field" %>
                          <%= f.hidden_field :article_id, :value => @article.id %>
                          <h6 class="pull-right" id="counter">320 букв максимум | Осталось <span id="charNum">320</span></h6>
                          <button class="btn btn-rw btn-info" type="submit">Отсавить комментарий</button>
                      <% end %>
                    </div>
                  </div>
                <% else %>
                  <div class="panel panel-default no-margin">
                    <div class="panel-body"> 
                    <h3>Есть вопрос или хотите оставить комментарий?</h3>
                      <%= link_to "Зарегистрируйтесь или войдите в аккаунт", new_user_registration_path, :class => "btn btn-block btn-success" %>
                    </div>
                  </div>                
                <% end %>   