


 <!-- Begin Content Section -->
      <section class="mt40 mb40">
        <div class="container">
            <div class="row">
              <div class="col-sm-8">
                <%= 
              grid(@articles) do |g|
                 g.column name: 'Title' do |p|
                   p.name
                 end
                 g.column name: 'Author' do |p|
                   p.user.name
                 end
                g.column name: 'Показать' do |article|
                  link_to('Показать', article_path(article))
                end
                g.column name: 'Изменить' do |article|
                  link_to('Изменить', edit_article_path(article))
                end
                g.column name: 'Удалить' do |article|
                  link_to('Удалить', article, method: :delete, data: { confirm: 'Вы уверены?' })
                end
              end
          %>
                </div>
              <%= render "/static_pages/column" %>
          </div>
      </section><!-- /content -->
      <!-- End Content Section -->

<p id="notice"><%= notice %></p>

<h1>Listing Articles</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Text</th>
      <th>Image</th>
      <th>Category</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.name %></td>
        <td><%= article.text %></td>
        <td><%= article.image %></td>
        <td><%= article.category_id %></td>
        <td><%= article.user_id %></td>
        <td><%= link_to 'Show', article %></td>
        <td><%= link_to 'Edit', edit_article_path(article) %></td>
        <td><%= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_article_path %>
