	<div class="text-center text-white">
	    <div class="content-box content-box-bordered">
	        <div class="btn-toolbar" role="toolbar">
    			<div class="btn-group btn-group-lg">
	        		<div class="btn btn-success" style="font-size:18px; font-weight: bold"><%= link_to "Категории", categories_path, :style => "color: #fff; text-decoration: none" %></div>
	        		<div class="btn btn-success" style="font-size:18px; font-weight: bold"><%= link_to "Новая", new_category_path, :style => "color: #fff; text-decoration: none" %></div>
	        	</div>
	        </div>
	        <br>
	        <div class="btn-toolbar" role="toolbar">
    			<div class="btn-group btn-group-lg">
	        		<div class="btn btn-info" style="font-size:18px; font-weight: bold"><%= link_to "Статьи", articles_path, :style => "color: #fff; text-decoration: none" %></div>
	        		<div class="btn btn-info" style="font-size:18px; font-weight: bold"><%= link_to "Новая", new_article_path, :style => "color: #fff; text-decoration: none" %></div>
	        	</div>
	        </div>
	        <hr>
	        	<div class="btn btn-info" style="font-size:18px; font-weight: bold"><%= link_to "Сообщения", articles_path, :style => "color: #fff; text-decoration: none" %></div>
	    </div>
	</div>